<div class="main about">
  <div class="container introduce">
    <div class="row">
      <div class="col-md-6 thumbnail">
        <%= image_tag("ismael-sane.png", alt: "Ismael SANE")%>
      </div>
      <div class="col-md-6">
        <h2> Je m'appelle <span class="highlight">Ismaël SANE</span></h2>
        <p>
          J'ai un Bachelor en gestion de projet web que j'ai obtenu en 2016 a <a href="">Digital Campus Bordeaux</a> et je me suis ensuite spécialisé en 2018 en tant que developpeur web Fullstack Ruby / Javascript au <a href="">Le Wagon Bordeaux</a>. <br>
          En 2019 j'ai passé 6 mois dans une <a href="">start-up B to C</a> à Berlin.
        </p>
        <p>
          Depuis fin 2019, je crée des sites web sur-mesures pour des professionels PME et micro-entreprise sur Bordeaux.
        </p>
      </div>
    </div>
  </div>
</div>
