<div class="main home">
  <div class="jumbotron">
    <div class="container mt-5">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <h2>Création sur-mesure de sites web professionels sur Bordeaux</h2>
          <a class="btn" href="portfolio">Voir mon travail</a>
        </div>
      </div>
    </div>
  </div>
</div>
