<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li><a class="github" href="#"><%= image_tag("facebook-icon.svg", size: "24x24", alt: "facebook-logo")%></a></li>
      <li><a class="linkedin" href="#"><%= image_tag("linkedin-icon.svg", size: "24x24", alt: "linkedin-logo")%></a></li>
      <li><a class="twitter" href="#"><%= image_tag("twitter-icon.svg", size: "24x24", alt: "twitter-logo")%></a></li>
    </ul>
    <p>© 2021 Ismael SANE</p>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
